network-view .nv-container{
    padding: 20px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
}

network-view .nv-search input{
    border: 1px solid #6b6b6b;
    padding: 15px;
    border-radius: 10px;
    height: 15px;
    width: 300px;
    font-size: 16px;
    color: #9a9a9a;
}

::-webkit-input-placeholder {
    color: #6b6b6b;
    font-style: italic;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}